/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  flex: 1;
  margin-left: 240px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3)),
    url('../assets/imgs/fundoTextos.png');
  width: calc(100% - 240px);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  border: 3px solid gold;
  backdrop-filter: blur(5px);
  transition: 0.3s;
}

.card-aquario:hover {
  transform: scale(1.05);
  border-color: orange;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  color: white;
  font-size: 60px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  color: gold;
  font-size: 22px;
  border-bottom: solid orange 2px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  min-height: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 240px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.12);
  padding: 25px;
  color: white;
  border-right: 5px solid gold;
  background: linear-gradient(180deg,
      #4facfe 0%,
      #00c6fb 100%);
  box-sizing: border-box;
}

.menu-navegacao {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dash-right {
  flex: 1;
  margin-left: 240px;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3)),
    url('../assets/imgs/fundoTextos.png');
  background-size: cover;
  background-position: center;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.header-left h1 {
  color: white;
  font-size: 32px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav,
.btn-nav-white,
.btn-logout {
  width: 160px;
  text-align: center;
  padding: 10px 0;
}

.btn-nav {
  background-color: rgb(0, 65, 8);
  border-radius: 14px;
  margin-top: 14px;
  transition: 0.3s;
  backdrop-filter: blur(5px);
}

.btn-nav:hover {
  background-color: rgba(255, 255, 255, 0.35);
  transform: translateX(6px);
  cursor: pointer;
}

.btn-nav-white {
  background-color: rgb(0, 65, 8);
  border-radius: 14px;
  margin-top: 14px;
  transition: 0.3s;
  backdrop-filter: blur(5px);
}

.btn-nav-white:hover {
  background-color: rgba(255, 255, 255, 0.35);
  transform: translateX(6px);
  cursor: pointer;
}


.btn-nav-white h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.btn-nav h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.btn-logout h3 {
  color: white;
  margin: 0;
  padding: 0;
}

.btn-logout {
  background-color: rgb(0, 65, 8);
  border-radius: 14px;
  margin-top: 14px;
  transition: 0.3s;
  backdrop-filter: blur(5px);
}

.btn-logout:hover {
  background-color: rgba(255, 255, 255, 0.35);
  transform: translateX(6px);
  cursor: pointer;
}

.titulo-dashboard {
  font-family: 'Times New Roman', Times, serif;
  color: gold;
  font-size: 38px;
  letter-spacing: 4px;
  -webkit-text-stroke: 1px orange;
  text-align: center;
}

.subtitulo-dashboard {
  color: white;
  margin-top: -40px;
  font-size: 14px;
  letter-spacing: 2px;
}

.btn-nav:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.btn-nav-white:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.quiz-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}

.quiz-box {
  background-color: black;
  border: 3px solid gold;
  border-radius: 20px;
  padding: 30px;
  width: 400px;
  color: white;
}

.quiz-titulo {
  color: gold;
  text-align: center;
  margin-bottom: 20px;
}

.quiz-campo {
  color: gold;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: bold;
  letter-spacing: 2px;
}

.quiz-box input,
.quiz-box select {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid gold;
  background-color: black;
  color: white;
}

.quiz-box button {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: gold;
  font-size: bold;
  border: none;
  cursor: pointer;
}

.kpis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  width: 100%;
  margin-top: 20px;
}

.kpis div {
  background: linear-gradient(135deg, #525fb1, #21274e);
  padding: 25px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
  transition: 0.3s ease;
  border: 2px solid rgba(255, 215, 0, 0.15);
}

.kpis div:hover {
  transform: translateY(-5px);
  border-color: gold;
  box-shadow: 0 8px 25px rgba(255, 215, 0, 0.25);
}

.kpis div strong {
  color: gold;
  font-size: 26px;
}

.area-graficos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  margin-top: 40px;
}

.grafico-card {
  background: rgba(0, 0, 0, 0.80);
  border: 2px solid rgba(255,215,0,0.15);
  border-radius: 30px;
  padding: 25px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.35);
  backdrop-filter: blur(6px);
}

.grafico-card h2 {
  color: gold;
  margin-bottom: 20px;
  font-family: 'Times New Roman', serif;
  letter-spacing: 2px;
}

#graficoProgresso {
  width: 100% !important;
  height: 350px !important;
}

.mini-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-extra {
  color: white;

  font-size: 20px;

  line-height: 1.8;
}

.info-extra span {
  color: gold;

  font-weight: bold;

  font-size: 24px;
}
